<head>
    <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <style>
        h1.header {
            font-family: 'Walter Turncoat', cursive;
            font-size: 20px;
        }
        .para {
            font-family: 'Walter Turncoat', cursive;
            font-size: 15px;
        }
    </style>
</head>

<h1 class="header">ERROR!!</h1>
<p class="para">Either the link to repository is incorrect or there are no open issues.</p>
<p class="para">Also, please make sure that you are entering a valid link referring to a Github Repository.</p>
<a href="/" class="para">Go back to Homepage!</a>